<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD6/v0AAAAAAP7//wAJCQkA+Pz8APr8/AD8/v4A8/T0APn+/QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmYkZmZmZmZmZmMWZmZmZmZmZoFmZmZmZmZmYBZmZmZmYXYmFmZmZmZhZRYmZmZmZmZmFmJmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <title>URL - TinyApp Example</title>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%- include('partials/_header') %>
      <main class="flex-fill">
        <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title">TinyURL for: <%= longURL %></h5>
            <p class="card-text">
              Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
            </p>
            <p class="card-text">
              Total Visited Count: <%= visitedCount %>
            </p>
            <% if(visitedUser) {%>
              <% for (visitor of visitedUser) { %>
                <p class="card-text">
                  Visitor ID: <%= visitor.userId %> ||
                  Visited Count: <%= visitor.count %> ||
                  Timestamp:
                  <% for (time of visitor.timeStamps) { %>
                    <span><%= time %></span>
                  <% } %>
                </p>
              <% } %>
            <% } %>

          </div>
          <div class="card-footer d-flex justify-content-center text-muted">
            <form method="POST" action=<%= `/urls/${id}?_method=PUT` %>>
              <h3>Edit</h3>
              <div class="input-group container container-sm mb-3">
                <span class="input-group-text" id="basic-addon3">https://</span>
                <input type="text"
                  name="longURL"
                  class="form-control"
                  placeholder="New URL Here"
                  aria-label="New URL"
                  aria-describedby="button-addon2"
                >
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <%- include('partials/_footer') %>
    </div>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
